@import url('../../variables/Variables.module.scss');

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-yellow);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title {
  font-size: 30px;
  font-family: 'Montserrat-Bold';
  margin-bottom: 30px;
}

.floatingButton {
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.floatingButton:hover {
  background: var(--color-black);
  width: 250px;
  box-shadow: 0 15px 20px var(--color-gray);
  color: white;
  transform: translateY(-7px);
}
