@import url('../../variables/Variables.module.scss');

.photo {
  position: relative;
  height: 300px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.lunchTitle {
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 100;
}

.blackFilter {
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--color-black);
  opacity: 0.7;
  z-index: 10;
}

.photoTitle {
  font-family: 'Montserrat-Medium';
  font-size: 40px;
  text-transform: uppercase;
  color: var(--color-light-gray);
}

.title {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-family: 'Montserrat-SemiBold';
  font-size: 25px;
}

.recipesContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.recipe {
  display: flex;
  height: 200px;
  background: var(--color-light-gray);
  border-radius: 20px;

  img {
    height: 100%;
    width: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
  }
}

.recipeInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.recipeText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipeTitle {
  font-family: 'Montserrat-Bold';
  font-size: 30px;
}

.recipeSubTitle {
  font-family: 'Montserrat-Medium';
  font-size: 16px;
}

.recipeBtn {
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 35px;
  line-height: 35px;
  border-radius: 25px;
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: var(--color-black);
  background: var(--color-yellow);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.recipeBtn:hover {
  background: var(--color-black);
  width: 250px;
  box-shadow: 0 15px 20px var(--color-gray);
  color: white;
  transform: translateY(-5px);
}
