:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #545454;
  --color-light-gray: #f5f2f2;
  --color-yellow: #ffdb63;
  --color-orange: #fcc615;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
